.App {
  text-align: center;
  margin: 10% auto;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Search {
  margin-bottom: 10%;
}

.Movies {
  display: inline-flex;
}

.Poster {
  display: inline-flex;
  padding: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
